.dropdown-menu {
	width: 200px;
	position: absolute;
	top: 80px;
	list-style: none;
	text-align: start;
}

.dropdown-menu li {
	background: var(--grey-light);
	cursor: pointer;
}

.dropdown-menu li:hover {
	background: var(--blue-accent);
}

.dropdown-menu.clicked {
	display: none;
}

.dropdown-link {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: var(--blue-primary);
	padding: 16px;
}

.dropdown-link:hover {
	color: var(--grey-light);
}
